doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Programs
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css')
  link(rel='stylesheet' href="/css/cards-gallery.css")
  if user
    h1 i am the admin
    form.form.form-user-data      
      .form__group.form__photo-upload
        .form__group.right
          img.form__user-photo(src=`/img/programs/${prog.photos[0]}`, alt='User photo')
          input.form__upload(type='file', accept= 'image/*' id="photos" name="photos")
          label(for='photos') Choose new photo
          button.btn.btn--small.btn--green Save settings
    .line &nbsp;
    form.form.form-user-data7 
      h1 about title
      input.form__input(type='textarea', value=`${prog.about3}` id="hello" rows="500" cols="500" class="txtarea")
      input.form__input(type='textarea', value=`${prog.title1}` id="hello2" rows="200" cols="200" class="txtarea")
      button.btn.btn--small.btn--red Save settings

    form.form.form-user-data2      
      .form__group.form__photo-upload2
        img.form__user-photo(src=`/img/arpit/${prog.abcd[0]}`, alt='User photo')
        input.form__upload(type='file', accept= 'image/*' id="ram" name="ram")
        label(for='abcd') Choose new photo
      .form__group.right
        button.btn.btn--small.btn--green Save settings
    .line &nbsp;

     form.form.form-user-data3     
      .form__group.form__photo-upload3
        img.form__user-photo(src=`/img/arpit/${prog.photos3[0]}`, alt='User photo')
        input.form__upload(type='file', accept= 'image/*' id="hero" name="hero")
        label(for='photos3') Choose new photo
      .form__group.right
        button.btn.btn--small.btn--green Save settings
    .line &nbsp;

- if(!user)
  h1 i am not admin !!      
  section.gallery-block.cards-gallery
  .container
    .heading
      h2 Programs
    .row
      .col-md-6.col-lg-4
        .card.border-0.transform-on-hover
          a.lightbox(href='../img/image1.jpg')
            img.card-img-top(src=`/img/arpit/${prog.photos3[0]}` alt='Card Image')
          .card-body
            h6
              a(href='#')=prog.title1
            p.text-muted.card-text= prog.about3
      .col-md-6.col-lg-4
        .card.border-0.transform-on-hover
          a.lightbox(href='../img/image2.jpg')
            img.card-img-top(src=`/img/programs/${prog.photos[0]}` alt='Card Image')
          .card-body
            h6
              a(href='#') Lorem Ipsum
            p.text-muted.card-text 
      .col-md-6.col-lg-4
        .card.border-0.transform-on-hover
          a.lightbox(href='../img/image3.jpg')
            img.card-img-top(src=`/img/arpit/${prog.abcd[0]}` alt='Card Image')
          .card-body
            h6
              a(href='#') Lorem Ipsum
            p.text-muted.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.
      .col-md-6.col-lg-4
        .card.border-0.transform-on-hover
          a.lightbox(href='../img/image4.jpg')
            img.card-img-top(src='/imagesGall/image5.jpg' alt='Card Image')
          .card-body
            h6
              a(href='#') Lorem Ipsum
            p.text-muted.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.
      .col-md-6.col-lg-4
        .card.border-0.transform-on-hover
          a.lightbox(href='/imagesGall/image5.jpg')
            img.card-img-top(src='/imagesGall/image5.jpg' alt='Card Image')
          .card-body
            h6
              a(href='#') Lorem Ipsum
            p.text-muted.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.
      .col-md-6.col-lg-4
        .card.border-0.transform-on-hover
          a.lightbox(href='/imagesGall/image6.jpg')
            img.card-img-top(src='/imagesGall/image6.jpg' alt='Card Image')
          .card-body
            h6
              a(href='#') Lorem Ipsum
            p.text-muted.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.


script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.min.js')
script(src="/js/upload.js")
script(src='https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js')
script.
  //- baguetteBox.run('.cards-gallery', { animation: 'slideIn'});
